NODE_ENV=development
DATABASE=mongodb+srv://<USER>:<PASSWORD>@<HOST>/<DB_NAME>?retryWrites=true&w=majority
USER=<USER>
DATABASE_PASSWORD=<PASSWORD>

JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRES_IN=90d

EMAIL_USERNAME=<EMAIL_USERNAME>
EMAIL_PASSWORD=<EMAIL_PASSWORD>
EMAIL_HOST=<EMAIL_HOST>
EMAIL_PORT=<EMAIL_PORT>